.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
}
.detail-image{
    width:100vh;
}
.extra-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}
.detail-img{
    width: 3rem;
    height: 3rem;
}

@media only screen and (max-width:750px){
    .details{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .detail-image{
        height: 95%;
        width:95%;
    }
    .extra-detail{
        width: 100%;
    }
}