.exe-video{
    margin-top: 5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.thumb-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.thumbnail{
    width:23rem;
}
.video-box{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.exercise-videos{
    margin-top: 1.5rem;
}
@media only screen and(max-width:420px){
    .exe-video{
        width: 100%;
        margin-top: 2rem;
        padding: 0;
    }
    .thumbnail{
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }
}