.exe-video{
    margin-top: 10rem;
    padding: 1.5rem;
}
.thumb-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.thumbnail{
    width:24rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and(min-width:420px) and (max-width:1080px){
    .thumbnail{
        width:48%;
    }
}

@media only screen and(max-width:420px){
    .exe-video{
        margin-top: 1.5rem;
        padding: 1.5rem;
    }
    .thumbnail{
        width:95%;
    }
}