.exe-video{
    margin-top: 5rem;
    padding: 1.5rem;
}
.thumb-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.thumbnail{
    width:24rem;
}

@media only screen and(max-width:450px){
    .exe-video{
        margin-top: 1.5rem;
        padding: 0;
    }
    .thumbnail{
        width:95%;
    }
}