.target{
    padding: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    margin-bottom: 3rem;
}
.equipment{
    padding: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.target::-webkit-scrollbar, .equipment::-webkit-scrollbar {
    display: none;
  }