.banner-box{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}
.banner-stack1, .banner-stack2{
    width: 50%;
}
.banner-stack1{
    gap:2rem;
}
.banner-image{
    width:95%;
    max-width: 30rem;
    margin-left: auto;
    right:1rem;
    z-index: 1;
}
.bg-text p{
    position: relative;
    right: -15rem;
    font-size: 8rem;
    font-weight: 700;
    color:#ff2625;
    opacity: 0.3;
    z-index: 2;
}
.exp-btn{
    background-color: #ff2625;
    width:10rem;
}
.type1 p{
    color: #ff2625;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.type2 p, .type3 p{
    margin-left: 3rem;
}
@media (min-width:750px) and (max-width:1280px) {
    .bg-text p{
        position: relative;
        right:0;
    }
    .banner-stack1{
        gap:1rem;
    }

}
@media only screen and (max-width:750px){
    .banner-stack1, .banner-stack2{
        width: 100%;
    }
    .banner-box{
        flex-direction: column-reverse;
    }
    .bg-text{
        display:none;
    }
    .banner-stack1{
        gap: 1rem;
    }
    .type1 p, .type2 p, .type3 p{
        margin-left: auto;
        margin-right: auto;
    }
}