.banner-box{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}
.banner-stack1, .banner-stack2{
    width: 50%;
}
.banner-image{
    width:90%;
    max-width: 30rem;
    margin-left: auto;
    right:1rem;
    z-index: 1;
}
.bg-text p{
    font-size: 10rem;
    font-weight: 700;
    color:#ff2625;
    opacity: 0.3;
    z-index: 2;
}
.exp-btn{
    background-color: #ff2625;
    padding: .7rem;
    margin-top: 1rem;
}
@media only screen and (max-width:720px){
    .banner-stack1, .banner-stack2{
        width: 100%;
    }
    .banner-box{
        flex-direction: column-reverse;
    }
    .bg-text{
        display:none;
    }

}